body {
  margin: 10px;
}

table,
td,
th {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

tfoot {
  text-align: left;
}

video {
  width: 400px;
}

img {
  width: 100px;
}

.highlight {
  background-color: orange;
}
